:root {
}

.pauseButton {
    font-size: 24px;
    -unity-font-style: bold;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
}

.pauseButton:hover {
    font-size: 24px;
    -unity-font-style: bold;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
}
